#canvas
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 960px;
}

.control-button {
	margin: 1% auto;
	text-align: center;
}

.guide {
	text-align: center;
}